.container {
  padding: 34px;
  background: radial-gradient(
    rgb(226 235 244) 17%,
    rgb(177 206 228) 64%,
    rgb(131 165 224) 97%
  );
  font-family: "Rajdhani", sans-serif;
  border: 2px solid #385170;
  margin: 20px auto;
  width: 580px;
  border-radius: 50px;
}

.btn-secondary,
.cities,
.currentcity,
.currenttime,
.extrainfo,
.hourlyforecast,
.dailyforecast {
  color: #385170;
}

.col-2 {
  font-size: 23px;
}

.btn-secondary {
  padding: 7px;
  width: 110px;
  background: #e0e0e0;
  margin-left: 220px;
  margin-top: -74px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.location {
  width: 34px;
  margin-left: 190px;
  margin-top: 0px;
}

.cities {
  padding: 38px;
  font-weight: 400;
  transition: all 200ms ease;
  font-size: 18px;
}

.cities:hover {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.currentcity {
  font-weight: bolder;
  font-size: 60px;
  margin-left: 17px;
  margin-top: -14px;
}

.currenttime {
  font-size: 16px;
  width: 77px;
  margin: 70px;
  margin-left: 129px;
  text-align: center;
}

#currenttemp {
  font-size: 81px;
  margin-left: 206px;
  color: #385170;
  margin-top: 48px;
  font-weight: bolder;
}

.celsius-link {
  font-size: 25px;
  margin-top: 55px;
  text-decoration: none;
}

.extrainfo {
  text-align: right;
  margin-top: -69px;
  font-size: 15px;
  margin-right: 11px;
}

.hourlyforecast,
.weather-forecast {
  width: 505px;
  padding: 8px;
  margin: auto 0;
  border-radius: 8px;
  border: 2px solid #385170;
  font-size: 23px;
  text-align: center;
  font-weight: 500;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.hourlyforecast {
  background: linear-gradient(
    180deg,
    rgb(250, 246, 246) 4.7%,
    rgb(253, 240, 233) 97.6%
  );
}

.weather-forecast {
  font-size: 28px;
  letter-spacing: 2px;
  background: linear-gradient(
    180deg,
    rgb(253, 240, 233) 4.7%,
    rgb(250, 198, 205) 97.6%
  );
}

.hourlytemperature,
.weather-forecast-temperature-max .weather-forecast-temperature-min {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
}

.icons {
  width: 30px;
}

.col-4 {
  width: 100px;
}
.float-left {
  display: block;
  margin-left: 54px;
  margin-top: -20px;
}

.temperature-wrapper {
  display: flex;
}
.temperature-wrapper .active {
  color: #385170;
  cursor: default;
}
.temperature-wrapper .active:hover {
  text-decoration: none;
}
.signature {
  margin-top: 20px;
  margin-bottom: -10px;
}
